.form_wrapper {
  padding: 0 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  padding: 6px 12px;
}

form button {
  padding: 6px 12px;
}

@media screen and (min-width: 768px) {
  .form_wrapper {
    width: 90%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  form button {
    padding: 12px 40px;
    background-color: #0290ff;
    color: white;
    border-radius: 5px;
    border: none;
  }

  form input {
    width: 400px;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  }

  form select {
    width: 300px;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .form_wrapper h2 {
    align-self: flex-start;
    color: #929394;
  }

  .form_progress_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    gap: 1rem;
    border: 1px solid #9ca0a4;
    margin: 2rem 0;
  }
}
